{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>New York Food Searcher</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">

  <!-- Search Bar -->
  <div class="p-2 mb-6 relative">
    <form method="GET" action="">
      <input type="text" name="q" placeholder="Search restaurants..." value="{{ request.GET.q }}" class="p-2 border rounded w-full md:w-1/2">
      <button type="submit" class="p-2 bg-purple-500 text-white rounded">Search</button>
    </form>
  </div>


  <!-- Restaurant Listings -->
  {% if food_entries %}
    <div class="flex flex-col gap-10">
      {% for row in food_entries %}
        {% include 'food_card.html' %}
      {% endfor %}
    </div>
  {% else %}
    <p>No restaurants found.</p>
  {% endif %}
  
  <!-- Logout -->
  <a href="{% url 'auth:logout' %}">
    <button>Logout</button>
    <h5>Last login session: {{ last_login }}</h5>
  </a>
</div>
{% endblock content %}
