{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>New York Food Searcher</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative"></div>
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8 pb-8">
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>


{% if csv_content %}
  <div class="flex flex-col gap-10">
  {% for row in csv_content %}
      {% include 'food_card.html' %}
    {% endfor %}
  </div>
</div>
{% else %}
<p>No CSV data available.</p>
{% endif %}
<a href="{% url 'auth:logout' %}">
  <button>Logout</button>
  <h5>Last login session: {{ last_login }}</h5>
</a>
{% endblock content %}